**/.snakemake
**/.conda
**/.cache
**/.config
**/.local
**/.jupyter
**/.condarc
**/.keras
**/.cupy
**/.nv
**/.fontconfig
**/.vscode
**/.mypy_cache

**/__pycache__
**/.RData
**/.Rhistory
**/.Rproj.user
**/*.Rproj

**/logs/
**/results/
**/out
.Rproj.user
.DS_Store
